.flag {
  &.riograndedosul {
    @extend %justify-content-center;
    @extend %align-items-center;      
    background-color: #c9b620;
    position: relative;

    &:before{
      content: '';
      height: 150px;
      position: absolute;
      width: 300px;
    }
      
    &:before {
      background-color: #1c7333;
      top: 0;
    }

    .riograndedosul-clip{
      height: 300px;
      background-color: red;
      clip-path: polygon(100% 0, 100% 51%, 0 100%, 0 49%);
      position: relative;
      width: 300px;
      z-index: 99999;
    }
  }
}