article(class="logo coritiba")
  div(class="circle-01")
    div(class="circle-02")
      div(class="circle-03")
        div(class="circle-04")
          div(class="curve top")
          div(class="letters")
            span C
            span(class="middle") F
            span C