section(class="the-hero")
  h1 Football team flags
  h2 Flags from national teams made with css 🏳
  div(class="hero-img" href="https://storyset.com/people")
    include ../svg/soccer-cuate.svg
    a(href="https://storyset.com/people")
      | People illustrations by Storyset