.flag {
    &.france {
      background-color: $white;
      position: relative;

      &:before,
      &:after {
        content: '';
        height: 300px;
        position: absolute;
        width: 100px;
      }
  
      &:before {
        background-color: #002290   ;
        left: 0;
      }
  
      &:after {
        background-color: #e62837;
        right: 0;
      }
    }
  }
  