.flag {
  &.netherlands {
    background-color:$white;
    position: relative;

    &:before,
    &:after {
      content: '';
      height: 100px;
      position: absolute;
      width: 100%
    }

    &:before {
      background-color: #009639;
      top: 0;
    }
    &:after {
      background-color: #C8102E;
      bottom:0;
    }
  }
}
