.flag {
  &.italy {
    background-color: $white;
    position: relative;
    

    &:before,
    &:after {
      content: "";
      height: 300px;
      position: absolute;
      width: 100px;
    }

    &:before {
      background-color: #00a042;
      left: 0;
    }
    &:after {
      background-color: #da002f;
      right: 0;
    }
  }
}
