.flag {
  &.japan {
    @extend %align-items-center;
    @extend %flex;
    @extend %justify-content-center;
    background-color: $white;
    position: relative;

    &:after {
      background-color: red;
      border-radius: 50%;
      content: '';
      height: 100px;
      width: 100px;
    }
  }
}
