.flag {
  &.palau {
    background-color: #009AFF;
    position: relative;

    &:after {
      background-color: #FFFF00;
      border-radius: 50%;
      content: '';
      height: 170px;
      position: absolute;
      margin: 65px 0 0 2.5rem;
      width: 170px;
    }
  }
}
